.wrapper {
  display: flex;
  justify-content: center;
}

.team-list {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.team {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-size: cover;

  scroll-snap-align: start;
}

.team .logo-change .logo {
  max-width: 30vw;
}

.team .logo-change .change {
  max-width: 5vw;
  margin-left: 50px;
}

.team .logo-change .change-ratio {
  font-size: 5vw;
  margin-left: 16px;
}

.team .logo-change {
  display: flex;
  justify-content: center;
  align-items: center;
}
